<ng-template #content let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add list</h5> 
            <button type="button" class="close"  (click)="closeModel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="listForm">
                <div>
                    <label> list Name</label>
                    <input type="text" formControlName="ListTitle"  appCheckDuplicate [list]="list" required>
                </div>
                <div *ngIf="submitted && f.ListTitle.errors" class="error">
                    <span *ngIf="f.ListTitle.errors.required" >
                        list Name is required
                    </span>
                    <span *ngIf="f.ListTitle.errors.maxlength" >
                       length of list Name should not be grater then 50 charectors
                    </span>
                    <span *ngIf="f.ListTitle.errors.checkDuplicateValue">
                        Duplicate List name is not allowed.
                    </span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" *ngIf="!editListMode" (click)="addlist()">Add</button>
            <button type="button" class="btn btn-primary" *ngIf="editListMode" (click)="editlist()">Edit</button>
        </div>
    </div>
</ng-template>